<form action="/form" method="post" class="form ">
  <h1 class="p-2">FORM PAGE</h1>
  <P class="p-2">the datas will be send to the admins email.</P>
  <div class="p-2">
    <label for="name">Name : </label>
    <input type="text" name="name" id="" placeholder="name" />
  </div>

  <div class="p-2">
    <label for="number">phone number : </label>
    <input type="text" name="number" id="" placeholder="phone" />
  </div>

  <div class="p-2">
    <label for="email">email : </label>
    <input type="text" name="email" id="" placeholder="email" />
  </div>

  <div class="p-2">
    <input type="submit" value="submit" />
  </div>
</form>
